/**************************/
/***** INDEX ME HTML ******/
/**************************/
:root {
    --cream: #fef2ea;
    --grey: #12121399;
    --grey2: #121213;

    /* This is an example */
    /* Create your own color variables */
    /* At most I recommend using 3 colors 
      that will be used accross your website */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Choose your font family here
        or you can add it later */
}

body {
    background-color: var(--cream);
    /* the bg color would be the same as your 
        quote section bg color */
}



/***  LANDING PAGE ***/
.landingPage {
    background-image: url("img/ye-shoe-circle_2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

header img {
    width: 50px;
    position: absolute;
    margin: 20px;
}

.navLinks {
    display: flex;
    list-style-type: none;

}

ul.navLinks li {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

ul.navLinks a {
    color: var(--grey2);
    font-size: 25px;
    text-decoration: none;
}

ul.navLinks a:hover {
    text-decoration: wavy underline;
}

/***  NAVIGATION BAR ***/
nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 5%;
    padding-right: 5%;
}



/***  TITLE ***/
header h1 {
    color: var(--grey2);
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
}



/***  QUOTE SECTION ***/
.quoteSection {
    background-color: var(--cream);
    margin-top: 170px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

q {
    color: var(--grey);
    font-style: courier;
}



/***  CARDS ***/
.column img {
    width: 250px;
    height: 170px
}

.row {
    background-color: var(--grey);
    display: flex;
    /* flex-wrap: ; */
    justify-content: space-evenly;
}

.column {
    background-color: var(--cream);
    width: 400px;
    margin: 50px 0px;
}

.content-wrap {
    color: var(--grey);
    margin: 20px 20px 20px 20px;
}

h2,
p {
    padding-top: 15px;
}


/***  LAST SECTION ***/
.lastSection {
    margin: 40px 8% 60px 8%;
}



/***  FOOTER ***/
footer {
    background-color: var(--grey);
    color: var(--cream);
    text-align: center;
    padding: 20px 0px 30px 0px;
    margin-top: 20px;
}







/**************************/
/***** ABOUT ME HTML ******/
/**************************/
/* Use CSS from previous CSS to 
      add and edit here */

.about-me {
    background-color: var(--cream);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.about-me img {
    margin-left: 50px;
}

.about-me h1 {
    width: 150px;
}

.about-me p {
    width: 150px;
    margin-right: 50px;
    color: var(--grey2);
}